*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
} 
 .navbar{
    margin: 0 auto;
    max-width:1600px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 50px;
}

.logo img {
    height: 40px;                     
}

.nav-menu ul {
    display: flex;           
    list-style-type: none;
    gap: 40px;                       
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.nav-menu a:hover {
    color: #12ab61;             
}

.btn {
    background-color: #007bffa6;
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    background-color: #b30036;
}
.banner-section{
    margin-top: 34px;
    max-width: 1600px;
    min-height: 800px;
    margin: 0 auto;
    background-image:url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    text-align: center;
}
.banner-section .btn-1{
    width: 200px;
     height: 29px;
    font-size: 16px;
    font-weight: 500px;
    text-align: center;
    line-height: 19px;
    border-radius: 10px;
    color: green;
    margin-bottom: 10px;
   
  
}
.banner-section .btn-1 i{
    color: green;
}
.banner-section .heading .sada{
    font-size: 72px;
    font-style:900;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
}
.banner-section .heading .green{
    font-size: 72px;
    font-style:900;
    font-weight: 700;
    text-align: center;
    color: #30B868;
}
.banner-section .heading .big-p{
    width: 900px;
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}
.banner-section .btn23{
    display:inline-flex ;
    align-items: center;
    gap: 16px;

}

.banner-section .btn-2{
    padding: 16px 32px;
font-size: 16px;
font-weight: 600;
border-radius: 10px;
 background-color: #2ea66f;
 color: #FFFFFF;
  border: none;  
}
.banner-section .btn-3{
    padding: 16px 32px;
font-size: 16px;
font-weight: 600;
border-radius: 10px;
  border: none;  
}
.banner-section .btn-2:hover{
    background-color: blueviolet;
}
.banner-section .btn-3:hover{
    background-color: antiquewhite;
}
/* node section */
.note-section .note-head h2{
    margin: 0 auto;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;

}
.note-section .note-head .sub-head{
  font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-align: center;
    margin-bottom: 20px;
}
/* Card-Section */
.card-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
.card-container .card{
    padding: 30px 20px;
    width: 322px;
    height:300px;
   border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    gap: 26px;
   border-radius: 8px;
   box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    
}
.icon{
   width: 50px;
   height: 50px;
  border-radius: 50%;
  color: #FFFFFF;
  background-color: #e74c3c;
   margin: 0 auto;
  display: flex;
   align-items: center;
  justify-content: center;
  margin-top: 29px;
 }
 .card h4{
    font-size: 24px;
     font-weight: bold;
       color: #333;
       line-height: 29px;
       text-align: center;
       margin-top: 16px;
 }
.card p{
    width: 274px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.Brain-Section{
    margin: 0 auto;
    width: 1600px;
    height: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:60px;
    padding: 0 120px;
}
.Brain-Section .right-text .section-massage{
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    line-height: 20px;
    color: rgb(8, 194, 8);
}
.Brain-Section .right-text .title{
    font-weight: bold;
    font-size: 48px;
    list-style: 58px;
    text-align: left;
    width: 600px;
     height: 116px;
     margin-top: 10px;
}
.Brain-Section .right-text .description{
    font-size: 16px;
  font-weight: 400;
  line-height: 20px;
 text-align: left;
  width: 400px;
  margin-bottom: 16px;
}
.Brain-Section .right-text .cheakbox{
    font-size: 20px;
font-weight: 500;
line-height: 20px;
color: #001931;
text-align: left; 
}
.challenges-Section{
    margin:0 auto ;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
    width: 1360px;
    height: 385px;
    padding: 80px;
    background-color: #fdfdfb;
     border-radius: 16px;
     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
 text-align: center;
}
.challenges-Section h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;

}
.challenges-Section p{
    text-align: center;
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
  
}
.challenges-Section .btn-4 button{
    margin-top: 14px;
 padding: 16px 32px;
 font-size: 16px;
 font-weight: 600;
 border-radius: 5px;
 background-color: #2ea66f;
 color: #FFFFFF;
  border: none; 
  text-decoration: none;
  box-shadow: none;
}
.challenges-Section .btn-4 button:hover{
    background-color: #e74c3c;

}
.challenges-Section .last-text{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
    margin-top: 10px;
}
/* Footer Section */
 .footer{
    background-color: #0f172a;
   max-width: 1365px; 
   margin-left: 720px;
  

 }
 .footer-container{
      background-color: #0f172a;
    margin: 0 auto;
    color: #e2e8f0;
    max-width: 1365px;
   padding: 60px 60px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px; 
}
.footer-container .logo-section{
    height: 60px;
    margin-top: 100px;
}
.social-link-section {
  text-align: right;
}
.social-title{
    margin-top: 100px;
 font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 16px;

}
.social-icons {
 display: flex;
 gap: 16px;
 justify-content: flex-end;
}
.social-link-section .social-icon a i{
     background-color: #0f172a; 
  box-shadow: inset 0 120px 0 #ffffff;
   width: 20px;
    height: 20px;
    border-radius: 50%;
  margin-right: 15px;
  align-items: center;
   justify-content: center;
   font-size: 18px;
 }
hr{
     border: none;
    border-top: 1px solid #334155;
    margin: 32px auto;
    max-width: 1101px;
  
}
.copyright {  
    text-align: center;
    color: #94a3b8;
  font-size: 14px;
  padding-bottom: 40px;

}
