*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
} 
 .navbar{
    margin: 0 auto;
    max-width:1600px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 50px;
}

.logo img {
    height: 40px;                     
}

.nav-menu ul {
    display: flex;           
    list-style-type: none;
    gap: 40px;                       
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.nav-menu a:hover {
    color: #12ab61;             
}

.btn {
    background-color: #007bffa6;
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    background-color: #b30036;
}
